@import url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2); 
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Chivo+Mono:wght@100&family=La+Belle+Aurore&family=Pacifico&family=Rubik+Gemstones&family=Rubik+Puddles&family=Rubik+Vinyl&family=Unbounded:wght@200&display=swap');
*{
    margin: 0;
    padding: 0%;
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(19, 17, 17, 0.842);
    font-family: 'netflix-sans', sans-serif;
    
}

.section1{
    
    box-sizing: border-box;
    background-image: url("netlix_img/Netflix-Background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;
   
    
}
.header-button button{
    height: 40px;
    width: 80px;
    color:aliceblue;
    font-size: 18px;
    text-align: center;
    background-color: #E50914;
    border-radius: 5px;
    cursor: pointer;
    border-color:transparent;
}

header{
    display: flex;
    justify-content: space-between;
    
}

.header-and-button{
    display: flex;
    padding: 1% 3%;
}

.header-size{
   
    /* margin-left:3% ; */
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;;
    color: #E50914;
}

.main-container{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-para .para1{
    /* margin-top: 138px; */
    font-weight: 700;
font-size: 60px;
color: white;
text-align: center;
}

.main-para .para2{
    padding-top: 1%;
    font-size: 30px;
    color: white;
    text-align: center;
    }
    .para3{
        padding-top: 1%;
        display: flex;
        justify-content: center;
    }
    .para3 p{
        
        /* width: 100%; */
        font-size: 18.5px;
        color: white;
        text-align: center;
    }

.form-container{
    margin-top: 20px;
    margin-left: 23%;
    border:none;
}

.form1 input{
    margin-right: -5px;
    width: 500px;
    height: 55px;
    background-color: white;
    border:none;
}
::placeholder{
    border:none;
    text-align:center;
}
.form-button{
    padding-bottom: 6px;
    cursor: pointer;
    background-color: #E50914;
    width: 210px;
    height: 55px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    border: 0ch;
}
.margin1{
    padding-bottom: 120px;
}

/* section2 paragraph part*/

.section2{
    /* flex-wrap:wrap; */
    background-size: cover;
    margin: 0.5% 0;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70vh;
    transition: 0.7s;
}

.para-section2{
    color:white ;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 0px 0px 120px;
}

.head-and-para-section2 ,h2{

    font-size: 60px;
}

.head-and-para-section2 ,p{
padding-top: 20px;
    font-size: 30px;
}

/*section2 video and img part*/

.netflix-video{
   height: 80%;
    padding: 100px 95px ;
  
    background-image: url("netlix_img/tv.png");
    background-size: cover;
}

/*section4 */
.section4{
    background-size: cover;
    margin: 0.5% 0;
    display: flex;
    background-color: black;
    height: 70vh;
    display: flex;
    justify-content: center;
}
.para4-para4{
    color: white;
    display: flex;
    align-items: center;
  
}
.head-para2{
    font-size: 25px;
}
.para4-para4 .head-para1{
    font-size: 50px;
}
.section4 img{
    height: 80%;
}
/*section5*/
.section5{
   display: flex;
   align-items: center;
   justify-content: center;
    background-size: cover;
    margin: 0.5% 0;
    display: flex;
    background-color: black;
    height: 35vh;
    
}
.para5-para5{
    align-items: center;
    color: white;
    /* justify-content: center; */
    
}
.section5 .head-para1{
font-size: 50px;
}
/* section6 */
.section6{
    background-size: cover;
    margin: 0.5% 0;
    display: flex;
    background-color: black;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6 img{
    width: 80%;
}
.para6-para6{
    color: white;

}
.section6 .head-para1{
    font-size: 50px;
}

/*section7*/
.section7{
    margin: 0.5% 0;
    flex-wrap:wrap;
    background-size: cover;
   /* display: flex; */
    
    height: 100vh;
    background-color: black;
    /* height: 100%; */
}

.frequent-asked{
    padding: 10px 0px  30px;
    font-size: 70px;
    text-align: center;
color: #fff;

}

.section7 .collapsible {
    
    width: 60%;
    color: rgb(253, 253, 253);
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 35px;
    background-color: rgba(51, 46, 46, 0.767);
  }  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  
  /* Style the collapsible content. Note: hidden by default */
  .section7 .content {
    font-size: 50px;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(30, 36, 31, 0.24);
    
  }

.second-form p{
    cursor: pointer;
    width: 100%;
    font-size: 18.5px;
    color: white;
    text-align: center;
}

.second-form-container{
    padding-bottom: 80px;
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    border:none;
}
.collapsible-align{
    background-color: rgba(56, 48, 48, 0.075);
}
.section-size{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.section-size .collapsible{
font-family: "FontAwesome";
font-weight: 900;
content:"\f105";
padding: 10px;
}

/*section8*/
.section8{
    background-size: cover;
    padding-top: 50px;
    /* justify-content: space-between; */
    display: flex; 
   justify-content: center;
   align-items: center;
  
    background-color: black;
    height: 50vh;
}
.section8 footer  ul li a
{
    
    background-size: cover;
    font-size: small;
     padding: 15px;
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.39);
}
.section8 li :hover{
    text-decoration: underline;
}
.footer-siparetr{
  
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.question-contact-us, a{
    font-size: 25px;
}
footer ul{
    list-style: none;
 }

/* media query part */

@media (max-width:1023px) {
 
    .section1{
       
       background-size: cover;
      height: 100vh;

    }
    .main-container .para1 ,.para2{
        padding: 0% 0%;
        /* margin-top: -10px; */
        margin-left: auto;
        font-size: 25px;
       }
       form {
        display: flex;
        flex-direction: column;
justify-content: center;
       }
       .main-para {
        font-size: 20px;
       }
        .para3 p{
        margin-left: auto;
font-size: 20px;
       }
       .form1 input{
        /* background-color:rgb(26, 25, 25); */
        border-radius: 3px;
        display: flex;

        margin-left: -50px;
       }
   .section2 h2,p{
    font-size: 25px;
    text-align: left;
    margin-left: -50px;
   }
   .section2{
   height: 70vh;
   flex-wrap:wrap;
 }
 .netflix-video{
 padding: 40px 30px;
 margin-left: 50px;
 }
 
 .section4 .head-para1,.head-para2{
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
   }
   .section4{
   flex-wrap:wrap;
      }
         .section5 .head-para1,.head-para2{
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    
   }
   .section5{
    flex-wrap:wrap;
       }
   div .head-para1 p{
    font-size: 25px;
    text-align: left;
    margin-left: -50px;
   }
   .section6{
    flex-wrap:wrap;
       }
       .section6 .head-para1,.head-para2{
    font-size: 20px;
    margin-left: 20px;
   }
   .second-form-container form input{
    margin-left: 1px;
    
   }
   .section7 .collapsible{
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
   }
  
}
